ion-button {
    min-height: 3rem;
    @media (min-width: 520px) {
        min-height: 5.5rem;
    }

    font-weight: 700;
}

@media (max-width: 520px) {
    ion-button {
        font-size: .75rem;
        --padding-start: .125rem;
        --padding-end: .125rem;
    }
    .row {
        justify-content: center;
    }
}

.row {
    display: flex;
    gap: 4px;
    margin-top: 4px;
    .cell {
        width: 8px;
        height: 8px;
        &.absent {
            background-color: #fff;
            @media (prefers-color-scheme: light) {
                background-color: #222428;
            }
        }
        &.present {
            background-color: #eb445a;
        }
        &.correct {
            background-color: #2fdf75;
        }
    }
}
