.main-container {
    margin: 0 auto;
    max-width: 40rem;
    padding: 1.5rem 1rem;
}

.block {
    display: block;
}

.mt-1 { margin-top: 1rem; }
.mb-1 { margin-top: 1rem; }
.my-2 { margin-top: 2rem; margin-bottom: 2rem; }
.mt-2 { margin-top: 2rem; }
.mb-2 { margin-top: 2rem; }
