.main-container {
    margin: 0 auto;
    max-width: 40rem;
    padding: .25rem 1rem;
    @media (min-width: 768px) {
        padding: 1.5rem 1rem;
    }
}
.ios .main-container {
    padding: 0 1rem;
}

.block {
    display: block;
}

.m-0 { margin: 0; }
.mt-05 { margin-top: .5rem; }
.mt-1 { margin-top: 1rem; }
.mb-1 { margin-top: 1rem; }
.my-2 { margin-top: 2rem; margin-bottom: 2rem; }
.mt-2 { margin-top: 2rem; }
.mb-2 { margin-top: 2rem; }

.px-1 { padding-left: 1rem; padding-right: 1rem; }
.pl-1 { padding-left: 1rem; }
.pr-1 { padding-right: 1rem; }
