section {
    @media (min-width: 768px) {
        padding: 0 1rem;
    }
}

ion-input {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.results {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .5rem;
    @media (max-width: 520px) {
        gap: .25rem;
    }
}

.end-message {
    ion-item {
        @media (prefers-color-scheme: light) {
            --padding-start: 0;
        }
        font-size: 2rem;
        font-weight: 700;
    }
}
