<ion-app>
    <ion-content>
        <ion-header collapse="fade" [translucent]="true" class="ion-no-border">
        <ion-toolbar>
            <ion-title>BLINDLE</ion-title>
        </ion-toolbar>
        </ion-header>

        <main class="main-container">
            <section class="mt-1">
                <ion-note color="white">
                    In questo gioco devi indovinare una parola di cinque lettere in cinque tentativi.
                </ion-note>
            </section>

            <div class="mt-2" *ngIf="guesses.length < attempts && !endMessage">
                <ion-item>
                    <ion-label position="floating" [innerHTML]="messageService.get('inputLabels', guesses.length)"></ion-label>
                    <ion-input placeholder="es. lotta" type="text"
                        minlength="5"
                        maxlength="5"
                        autofocus="true"
                        (keypress)="onKeyPress($event)"
                        [(ngModel)]="currentWord"
                        #myInput></ion-input>
                </ion-item>
            </div>

            <section class="mt-2" *ngIf="endMessage">
                <ion-item>
                    <ion-label [color]="guesses[guesses.length - 1].status == 'correct'? 'warning' : ''">{{ endMessage }}</ion-label>
                </ion-item>
            </section>

            <section class="mt-2" *ngIf="guesses.length">
                <h2>Riassunto tentativi</h2>

                <div class="results">
                    <div *ngFor="let guess of guesses; index as i;">
                        <app-status-button
                            [guess]="guess"
                            [status]="guessesStatuses[i]"
                            [title]="messageService.get('var', 'repeat')"></app-status-button>
                    </div>
                </div>
            </section>

            <section class="mt-2">
                <ion-note color="white">
                    Blindle è un'implementazione del gioco “parolette” per ipovedenti e non vedenti: l'inserimento della parola e i suggerimenti per trovare la soluzione sono pronunciati da un sistema di sintesi vocale (quindi alza il volume).
                </ion-note>
            </section>

            <section class="mt-2">
                <ion-note color="dark" class="block">Blindle non usa cookie</ion-note>
                <ion-note class="block">2022 MIT lic. - Blindle è un progetto open source da <a href="https://twitter.com/xho" target="_blank">@xho</a></ion-note>
            </section>
        </main>
    </ion-content>
</ion-app>
