ion-toolbar {
    --padding-top: .5rem;
    --padding-bottom: .5rem;
    --ion-safe-area-top: .5rem;
    padding-bottom: var(--padding-bottom);
}

section {
    @media (min-width: 768px) {
        padding: 0 1rem;
    }

    ion-note {
        display: block;
        line-height: 1.5;
        & ~ ion-note {
            margin-top: .5rem;
        }
    }
}

ion-input {
    letter-spacing: 2px;
    text-transform: uppercase;
}

ion-item {
    @media (prefers-color-scheme: light) {
        --padding-start: 0;
    }
}

.ios ion-item {
    ion-label {
        --color: #3880ff;
    }
    @media (max-width: 768px) {
        --padding-start: 0;
    }
}

.word-input {
    margin-top: 1.5rem;
    @media (min-width: 768px) {
        margin-top: 2rem;
    }
}

.letters-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    @media (max-width: 520px) {
        gap: .25rem;
    }
    ion-button {
        min-height: 3rem;
        text-transform: uppercase;
    }
}

.guesses-buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: .5rem;
    @media (max-width: 520px) {
        gap: .25rem;
    }

    > div:empty {
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            border: 1px solid #ccc;
            border-radius: 4px;;
        }
    }
}

.end-message {
    display: flex;
    gap: 1rem;
    align-items: center;
    @media (max-width: 520px) {
        flex-direction: column;
    }
    ion-item {
        width: 100%;
        text-align: center;
        flex-grow: 1;
        font-size: 1.75rem;
        @media (min-width: 768px) {
            font-size: 2rem;
        }
        font-weight: 700;
    }
}
