<ion-app>
    <ion-content>
        <ion-header collapse="fade" [translucent]="true" class="ion-no-border">
            <ion-toolbar>
                <ion-title>
                    BLINDLE
                    <ion-note class="block">#{{ wordsService.getSolutionMeta().index }} • {{ wordsService.getSolutionMeta().date }}</ion-note>
                </ion-title>
            </ion-toolbar>
        </ion-header>

        <main class="main-container">
            <section class="mt-1">
                <ion-note color="white">
                    In questo gioco devi indovinare una parola di cinque lettere in sei tentativi.
                </ion-note>
            </section>

            <div class="word-input" *ngIf="guesses.length < attempts && !endMessage">
                <ion-item>
                    <ion-label position="floating" [innerHTML]="messageService.get('inputLabels', guesses.length)"></ion-label>
                    <ion-input placeholder="es. lotta" type="text"
                        minlength="5"
                        maxlength="5"
                        autofocus="true"
                        (keypress)="onKeyPress($event)"
                        [(ngModel)]="currentWord"
                        #myInput></ion-input>
                </ion-item>
            </div>

            <section class="mt-2 end-message" *ngIf="endMessage">
                <ion-item lines="none">
                    <ion-label class="ion-text-capitalize" [color]="guesses[guesses.length - 1].status == 'correct'? 'success' : ''">{{ endMessage }}</ion-label>
                </ion-item>
                <app-share-button
                    [guessesStatuses]="guessesStatuses"
                    [guesses]="guesses"></app-share-button>
            </section>

            <section class="mt-2 letters-buttons" *ngIf="guesses.length">
                <ion-button color="primary" size="small" class="m-0"
                    [title]="messageService.get('var', 'absentLettersSummary')"
                    [disabled]="!letterStatuses['absent'].length"
                    (click)="speakLettersByStatus('absent')">
                    <span class="ion-hide-sm-down">{{ messageService.get('var', 'letters') }}&nbsp;</span>
                    {{ messageService.get('var', 'absents') }}
                    <span *ngIf="letterStatuses['absent'].length">&nbsp;({{ letterStatuses['absent'].length }})</span>
                </ion-button>
                <ion-button color="primary" size="small" class="m-0"
                    [title]="messageService.get('var', 'presentLettersSummary')"
                    [disabled]="!letterStatuses['present'].length"
                    (click)="speakLettersByStatus('present')">
                    <span class="ion-hide-sm-down">{{ messageService.get('var', 'letters') }}&nbsp;</span>
                    {{ messageService.get('var', 'presents') }}
                    <span *ngIf="letterStatuses['present'].length">&nbsp;({{ letterStatuses['present'].length }})</span>
                </ion-button>
            </section>

            <section class="mt-2" *ngIf="guesses.length">
                <h2>Riassunto tentativi</h2>

                <div class="guesses-buttons">
                    <div *ngFor="let guess of guesses; index as i;">
                        <app-status-button
                            [guess]="guess"
                            [status]="guessesStatuses[i]"
                            [title]="messageService.get('var', 'repeat')"></app-status-button>
                    </div>
                    <div *ngFor="let i of [].constructor(6 - guesses.length)" aria-hidden="true"></div>
                </div>

                <div class="mt-05">
                    <ion-note>Puoi riascoltare il risultato pigiando su ciascun pulsante</ion-note>
                </div>
            </section>

            <section class="mt-2">
                <ion-note color="white">
                    La parola nascosta cambia alla mezzanotte di ogni giorno.
                </ion-note>
                <ion-note color="white">
                    Blindle è un'implementazione del gioco “parolette” per ipovedenti e non vedenti: l'inserimento della parola e i suggerimenti per trovare la soluzione sono pronunciati da un sistema di sintesi vocale (quindi alza il volume).
                </ion-note>
                <ion-note color="dark">Questa applicazione web non usa cookie.</ion-note>

                <!-- ONLY ON IOS -->
                <div class="colophon" *ngIf="platform.is('ios')">
                    <ion-text color="warning">
                        Nota: sui dispositivi Apple, la lingua della sintesi vocale non puà essere impostata in italiano se quella di sistema è differente.
                    </ion-text>
                </div>
            </section>

            <section class="mt-2">
                <ion-note class="block">2022 MIT lic. - Blindle è un progetto open source da <a href="https://twitter.com/xho" target="_blank">@xho</a></ion-note>
            </section>
        </main>
    </ion-content>
</ion-app>
